NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STORE_WHATSAPP=5562991102715
WHATSAPP_BUSINESS_PHONE_NUMBER=5562991102715
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_BUSINESS_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCESS_TOKEN=
WHATSAPP_ORDER_TEMPLATE_NAME=pedido_recebido
